@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap');

@import './utils/_hidden.scss';
@import './utils/_normalize.scss';

@import './base/_fonts.scss';

@import './modal/_backdrop.scss';
@import './modal/_modal.scss';

@import './_container.scss';

@import './_header.scss';
@import './_main.scss';
@import './_footer.scss';