@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap');

@import url(./utils/_hidden.scss);
@import url(./utils/_normalize.scss);

@import url(./base/_fonts.scss);

@import url(./modal/_backdrop.scss);
@import url(./modal/_modal.scss);

@import url(./_container.scss);

@import url(./_header.scss);
@import url(./_main.scss);
@import url(./_footer.scss);