.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    width: 100%;
    min-height: 609px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--cubik-timings);

    &__close-button {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        top: 8px;
        right: 8px;
        height: 30px;
        width: 30px;

        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: var(--white-color);
        fill: var(--absolute-black);
        border-radius: 50%;
        cursor: pointer;
        transition: fill 250ms var(--cubik-timings);
    }

    &__close-button:hover,
    &__close-button:focus {
        fill: palevioletred;
    }
}


@media screen and (min-width: 1200px) {
    .modal {
        max-width: 528px;
        min-height: 581px;
    }
}

.modal-inner {
    padding: 40px;
    z-index: 10;
    width: 100%;

    &__modal-buy__text {
    font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 194%;
    
        /* or 27px */
        letter-spacing: 0.04em;
        
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}



// .modal-form-field {
//     width: 100%;
//     font-size: 16px;
//     line-height: 1.125;
//     margin-bottom: 20px;
//     margin-bottom: 10px;

//     &__label {
//         display: block;

//         font-weight: 400;
//         font-size: 12px;
//         line-height: 1.16;
//         letter-spacing: 0.01em;

//         color: var(--text-color-gray);

//         margin-bottom: 4px;
//     }

//     &__input {
//         height: 40px;
//         color: var(--text-color-black);
//         width: 100%;
//         font-weight: 400;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.01em;

//         border: 1px solid rgba(33, 33, 33, 0.2);
//         border-radius: 4px;
//         outline: none;
//         padding: 12px 12px 12px 42px;
//         transition: border 250ms var(--cubik-timings);
//     }

//     &__inner {
//         position: relative;
//     }

//     &__icon {
//         position: absolute;
//         left: 15px;
//         top: 50%;
//         transform: translateY(-50%);
//         transition: border 250ms var(--cubik-timings), fill 250ms var(--cubik-timings);
//     }

//     &__input:focus {
//         border: 1px solid var(--accent-color);
//         border-radius: 4px;
//     }

//     &__input:focus+&__icon {
//         fill: var(--accent-color);
//     }

//     &--textarea-sizing {
//         height: 120px;
//         resize: none;
//         padding: 12px;
//     }

//     &--textarea-sizing::placeholder {
//         font-weight: 400;
//         font-size: 12px;
//         line-height: 1.16;
//         letter-spacing: 0.01em;

//         color: rgba(117, 117, 117, 0.5);
//     }

//     &--margin-for-textarea {
//         margin-bottom: 20px;
//     }

// }